<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- valid options: Ado.Net, Linq2Sql, EntityFramework -->
		<add key="DataProvider" value="Ado.Net" />
	</appSettings>
	<connectionStrings>
		<add name="ComputerStore" connectionString="server=PHUCDAT\SQLEXPRESS;database=ComputerStore;uid=sa;pwd=123456" providerName="System.Data.SqlClient" />
		<add name="ActionEntities" connectionString="metadata=res://*/EntityFramework.Action.csdl|res://*/EntityFramework.Action.ssdl|res://*/EntityFramework.Action.msl;provider=System.Data.SqlClient;provider connection string='server=T470S;database=MyStore;uid=sa;pwd=123;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>